In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
train_raw = pd.read_csv('train.dat', header=None,
            names=["uid", "iid", "rating", "ts"], sep='\t', engine='python')
train_raw

       uid   iid  rating         ts
0      905   470       1  889325071
1      697  1518       5  879835275
2      855  1687       5  875638677
3      950  1447       5  877420720
4      806  1170       4  879889337
...    ...   ...     ...        ...
85719  205  1136       1  884142487
85720  708  1497       4  881473612
85721  167  1036       3  875492395
85722  508  1528       3  880337585
85723   76  1586       3  886695894

[85724 rows x 4 columns]

In [3]:
test_raw = pd.read_csv('test.dat', header=None,
            names=["uid", "iid"], sep='\t', engine='python')
test_raw

      uid   iid
0     158   951
1     521  1202
2      98  1556
3     292  1583
4      68  1064
...   ...   ...
2149  537  1414
2150  618  1448
2151  154  1519
2152  154  1429
2153  826  1602

[2154 rows x 2 columns]

In [6]:
train, valid = train_test_split(train_raw, test_size=0.2)

In [7]:
train.to_csv("train_set.csv")
valid.to_csv("valid_set.csv")

# Feature Vectors

In [59]:
from pyspark.ml.feature import BucketedRandomProjectionLSH
from pyspark.ml.linalg import Vectors
from pyspark.sql.functions import col
from pyspark.ml.linalg import VectorUDT
from pyspark.sql.types import *
from pyspark.ml.feature import MinHashLSH

In [8]:
train_set = pd.read_csv('train_set.csv')

In [21]:
max_iid = train_set.iid.max()
u2irmap = {}

In [17]:
for index, r in train_set.iterrows():
    if r.uid not in u2irmap:
        u2irmap[r.uid] = {}
    u2irmap[r.uid][r.iid] = r.rating

In [28]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/12 11:52:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [89]:
spUsers = [(int(i), Vectors.sparse(max_iid+1, u2irmap[i])) for i in u2irmap] # need to convert numpy.int to int
dfUsers = spark.createDataFrame(spUsers, ["uid", "features"])

In [83]:
mh = MinHashLSH(inputCol="features", outputCol="hashes", numHashTables=5)
model = mh.fit(dfUsers)
model.transform(dfUsers).head()

# Approximate Nearest Neighbor

In [90]:
valid_set = pd.read_csv('valid_set.csv')

In [92]:
vu2irmap = {}
for index, r in valid_set.iterrows():
    if r.uid not in vu2irmap:
        vu2irmap[r.uid] = {}
    vu2irmap[r.uid][r.iid] = r.rating

In [95]:
vspUsers = [(int(i), Vectors.sparse(max_iid+1, vu2irmap[i])) for i in vu2irmap] # need to convert numpy.int to int
vdfUsers = spark.createDataFrame(vspUsers, ["uid", "features"])
model.approxNearestNeighbors(dfUsers, vdfUsers, 5).collect()
approxNearestNeighbors

Py4JError: An error occurred while calling o199.approxNearestNeighbors. Trace:
py4j.Py4JException: Method approxNearestNeighbors([class org.apache.spark.sql.Dataset, class org.apache.spark.sql.Dataset, class java.lang.Integer, class java.lang.String]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:318)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:326)
	at py4j.Gateway.invoke(Gateway.java:274)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1589)

In [84]:
>>> data2 = [(3, Vectors.sparse(6, [1, 3, 5], [1.0, 1.0, 1.0]),),
...          (4, Vectors.sparse(6, [2, 3, 5], [1.0, 1.0, 1.0]),),
...          (5, Vectors.sparse(6, [1, 2, 4], [1.0, 1.0, 1.0]),)]
>>> df2 = spark.createDataFrame(data2, ["id", "features"])
>>> key = Vectors.sparse(6, [1, 2], [1.0, 1.0])
>>> model.approxNearestNeighbors(df2, key, 1).collect()

Row(uid=908, features=SparseVector(1700, {485: 2.0, 486: 2.0, 487: 2.0, 488: 3.0, 489: 3.0, 492: 4.0, 506: 4.0, 605: 2.0, 610: 3.0, 626: 3.0, 627: 5.0, 648: 2.0, 653: 1.0, 654: 3.0, 658: 3.0, 659: 3.0, 660: 3.0, 663: 2.0, 667: 2.0, 677: 2.0, 684: 2.0, 686: 3.0, 688: 4.0, 689: 3.0, 702: 2.0, 714: 2.0, 716: 2.0, 720: 3.0, 723: 2.0, 739: 4.0, 751: 3.0, 753: 4.0, 766: 2.0, 769: 1.0, 770: 2.0, 772: 3.0, 775: 3.0, 855: 3.0, 859: 3.0, 866: 1.0, 874: 2.0, 875: 4.0, 877: 4.0, 880: 1.0, 898: 2.0, 900: 3.0, 911: 5.0, 915: 3.0, 919: 3.0, 920: 3.0, 929: 1.0, 939: 2.0, 942: 1.0, 944: 3.0, 945: 3.0, 952: 3.0, 957: 2.0, 958: 3.0, 963: 4.0, 965: 3.0, 968: 3.0, 971: 4.0, 972: 3.0, 973: 4.0, 975: 3.0, 978: 3.0, 980: 3.0, 983: 3.0, 985: 4.0, 988: 3.0, 993: 4.0, 996: 3.0, 998: 3.0, 1008: 4.0, 1016: 3.0, 1021: 4.0, 1022: 2.0, 1026: 4.0, 1027: 4.0, 1028: 3.0, 1037: 4.0, 1040: 4.0, 1042: 3.0, 1049: 4.0, 1058: 3.0, 1060: 5.0, 1064: 3.0, 1069: 4.0, 1072: 4.0, 1073: 3.0, 1080: 3.0, 1081: 4.0, 1104: 2.0, 1105: 3.0, 1109: 4.0, 1117: 3.0, 1118: 5.0, 1119: 4.0, 1123: 3.0, 1124: 2.0, 1125: 2.0, 1132: 3.0, 1134: 4.0, 1139: 3.0, 1142: 3.0, 1149: 2.0, 1154: 2.0, 1169: 4.0, 1192: 5.0, 1196: 3.0, 1200: 4.0, 1225: 5.0, 1226: 4.0, 1229: 4.0, 1234: 4.0, 1237: 4.0, 1244: 2.0, 1245: 2.0, 1248: 2.0, 1249: 3.0, 1251: 3.0, 1264: 4.0, 1268: 3.0, 1272: 4.0, 1275: 4.0, 1277: 3.0, 1279: 4.0, 1289: 4.0, 1291: 3.0, 1292: 4.0, 1295: 2.0, 1297: 4.0, 1298: 3.0, 1299: 3.0, 1304: 3.0, 1307: 3.0, 1314: 3.0, 1315: 4.0, 1317: 1.0, 1318: 4.0, 1324: 3.0, 1330: 1.0, 1332: 1.0, 1333: 3.0, 1336: 3.0, 1337: 3.0, 1344: 3.0, 1378: 3.0, 1382: 2.0, 1387: 5.0, 1393: 4.0, 1405: 2.0, 1406: 3.0, 1409: 4.0, 1412: 3.0, 1416: 2.0, 1419: 3.0, 1422: 3.0, 1424: 5.0, 1427: 4.0, 1429: 2.0, 1432: 4.0, 1435: 4.0, 1440: 1.0, 1442: 4.0, 1443: 2.0, 1448: 4.0, 1450: 4.0, 1451: 3.0, 1452: 4.0, 1454: 4.0, 1455: 4.0, 1460: 2.0, 1462: 5.0, 1463: 4.0, 1465: 3.0, 1469: 3.0, 1472: 4.0, 1473: 1.0, 1477: 5.0, 1478: 4.0, 1480: 1.0, 1488: 4.0, 1490: 4.0, 1491: 5.0, 1492: 4.0, 1496: 4.0, 1497: 4.0, 1498: 3.0, 1500: 3.0, 1501: 3.0, 1502: 5.0, 1504: 4.0, 1505: 5.0, 1507: 4.0, 1509: 4.0, 1510: 4.0, 1511: 4.0, 1516: 3.0, 1518: 4.0, 1519: 4.0, 1521: 5.0, 1525: 4.0, 1526: 5.0, 1527: 3.0, 1529: 4.0, 1533: 3.0, 1539: 2.0, 1541: 4.0, 1544: 4.0, 1545: 2.0, 1546: 4.0, 1552: 2.0, 1553: 2.0, 1555: 2.0, 1556: 4.0, 1557: 3.0, 1565: 4.0, 1566: 4.0, 1568: 3.0, 1571: 4.0, 1575: 4.0, 1576: 4.0, 1577: 2.0, 1578: 3.0, 1580: 2.0, 1582: 2.0, 1583: 4.0, 1589: 3.0, 1591: 3.0, 1598: 2.0, 1600: 5.0, 1602: 5.0, 1604: 4.0, 1605: 3.0, 1606: 3.0, 1608: 4.0, 1609: 3.0, 1611: 5.0, 1613: 3.0, 1615: 3.0, 1620: 2.0, 1622: 3.0, 1627: 3.0, 1628: 3.0, 1629: 5.0, 1631: 5.0, 1632: 3.0, 1633: 3.0, 1634: 3.0, 1636: 4.0, 1637: 3.0, 1638: 3.0, 1642: 4.0, 1644: 5.0, 1645: 3.0, 1646: 3.0, 1647: 3.0, 1650: 5.0, 1651: 3.0, 1653: 4.0, 1656: 3.0, 1657: 3.0, 1658: 4.0, 1660: 3.0, 1662: 3.0, 1668: 3.0, 1669: 4.0, 1671: 3.0, 1672: 3.0, 1675: 3.0, 1678: 3.0, 1688: 5.0, 1689: 4.0, 1692: 5.0, 1693: 4.0, 1695: 4.0, 1699: 4.0}), hashes=[DenseVector([3246246.0]), DenseVector([16257237.0]), DenseVector([14070118.0]), DenseVector([4531355.0]), DenseVector([1301496.0])])

In [85]:
print("The hashed dataset where hashed values are stored in the column 'hashes':")
model.transform(dfUsers).show()

The hashed dataset where hashed values are stored in the column 'hashes':
+---+--------------------+--------------------+
|uid|            features|              hashes|
+---+--------------------+--------------------+
|908|(1700,[485,486,48...|[[3246246.0], [1....|
|646|(1700,[189,234,45...|[[4414153.0], [62...|
|697|(1700,[189,190,19...|[[1359174.0], [10...|
|752|(1700,[846,894,10...|[[5.2396333E7], [...|
|947|(1700,[776,952,11...|[[6.8390393E7], [...|
|849|(1700,[401,403,41...|[[7469132.0], [47...|
|827|(1700,[435,716,76...|[[1.2411183E7], [...|
|357|(1700,[561,599,62...|[[7.8274495E7], [...|
|688|(1700,[184,249,40...|[[7469132.0], [99...|
|863|(1700,[583,672,80...|[[1.16372573E8], ...|
|705|(1700,[197,227,24...|[[7469132.0], [1....|
|858|(1700,[805,1237,1...|[[7.1445372E7], [...|
|674|(1700,[469,731,75...|[[9.7323534E7], [...|
|855|(1700,[408,409,41...|[[3246246.0], [73...|
|999|(1700,[1428,1429,...|[[7469132.0], [62...|
|609|(1700,[537,599,73...|[[4.9341354E7], [...|
|859|(1700,[417,418,42...|[[4.4399303E7], [...|
|548|(1700,[273,297,44...|[[7469132.0], [10...|
|118|(1700,[256,288,64...|[[4.9341354E7], [...|
|565|(1700,[281,289,29...|[[9356204.0], [10...|
+---+--------------------+--------------------+
only showing top 20 rows